Basically, `literal_eval` converted the `string of brackets` and `curly braces` into `lists` of `dictionary objects`. Very cool and handy.


Signature: literal_eval(node_or_string)

Docstring:

Safely evaluate an expression node or a string containing a Python expression. The string or node provided may only consist of the following Python literal structures: `strings, bytes, numbers, tuples, lists, dicts,
sets, booleans, and None.`

File:      ~/anaconda3/lib/python3.8/ast.py

Type:      function




[Blog---->>](https://dadoverflow.com/2020/05/21/pandas-and-literal_eval/)

In [1]:
#.........................my practice.........................
from ast import literal_eval
import pandas as pd

df = pd.read_csv('tmdb_5000_credits.csv')
df['cast'].head(3)

0    [{"cast_id": 242, "character": "Jake Sully", "...
1    [{"cast_id": 4, "character": "Captain Jack Spa...
2    [{"cast_id": 1, "character": "James Bond", "cr...
Name: cast, dtype: object

In [2]:
type(df.loc[0, 'cast'])

str

In [3]:
df.loc[0, 'cast'][0]

'['

#### After using literal_eval

In [4]:
df['cast'] = df['cast'].apply(literal_eval)
df['cast'].head(3)

0    [{'cast_id': 242, 'character': 'Jake Sully', '...
1    [{'cast_id': 4, 'character': 'Captain Jack Spa...
2    [{'cast_id': 1, 'character': 'James Bond', 'cr...
Name: cast, dtype: object

In [5]:
type(df.loc[0, 'cast'])

list

In [6]:
df.loc[0, 'cast'][0]

{'cast_id': 242,
 'character': 'Jake Sully',
 'credit_id': '5602a8a7c3a3685532001c9a',
 'gender': 2,
 'id': 65731,
 'name': 'Sam Worthington',
 'order': 0}

In [9]:
df.loc[0, 'cast'][0]['cast_id']

242

In [ ]:
literal_eval()

# .......................................Optional.......................................

In [7]:
names= ['mamun pramanik', 'khan', 'alam khan']
len(names)

3

### lower replace

In [8]:
str.lower("mamun rashid".replace(" ", ""))

'mamunrashid'

In [11]:
a = ['mamun','rashid']
print(a)

['mamun', 'rashid']

###  ' '.join(a)

```
Signature: str.join(self, iterable, /)
Docstring:
Concatenate any number of strings.

The string whose method is called is inserted in between each given string.
The result is returned as a new string.
```

In [12]:
print(' '.join(a))

mamun rashid

In [15]:
' '.join(a)

'mamun rashid'

In [13]:
type(' '.join(a))

str

In [ ]:
str.join()

In [14]:
'.'.join(['ab', 'pq', 'rs'])

'ab.pq.rs'